<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jisy.docs.dao.mapper.DocMapper">
  <resultMap id="BaseResultMap" type="top.jisy.docs.pojo.Doc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CTIME" jdbcType="TIMESTAMP" property="ctime" />
    <result column="UTIME" jdbcType="TIMESTAMP" property="utime" />
    <result column="CUSER" jdbcType="INTEGER" property="cuser" />
    <result column="UUSER" jdbcType="INTEGER" property="uuser" />
    <result column="FK_REPO" jdbcType="INTEGER" property="fkRepo" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.jisy.docs.pojo.Doc">
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, NAME, CTIME, UTIME, CUSER, UUSER, FK_REPO
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from doc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from doc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.jisy.docs.pojo.Doc">
    insert into doc (id, NAME, CTIME, 
      UTIME, CUSER, UUSER, 
      FK_REPO, CONTENT)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{utime,jdbcType=TIMESTAMP}, #{cuser,jdbcType=INTEGER}, #{uuser,jdbcType=INTEGER}, 
      #{fkRepo,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.jisy.docs.pojo.Doc">
    insert into doc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="utime != null">
        UTIME,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="uuser != null">
        UUSER,
      </if>
      <if test="fkRepo != null">
        FK_REPO,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=INTEGER},
      </if>
      <if test="uuser != null">
        #{uuser,jdbcType=INTEGER},
      </if>
      <if test="fkRepo != null">
        #{fkRepo,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.jisy.docs.pojo.Doc">
    update doc
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null">
        UTIME = #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=INTEGER},
      </if>
      <if test="uuser != null">
        UUSER = #{uuser,jdbcType=INTEGER},
      </if>
      <if test="fkRepo != null">
        FK_REPO = #{fkRepo,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.jisy.docs.pojo.Doc">
    update doc
    set NAME = #{name,jdbcType=VARCHAR},
      CTIME = #{ctime,jdbcType=TIMESTAMP},
      UTIME = #{utime,jdbcType=TIMESTAMP},
      CUSER = #{cuser,jdbcType=INTEGER},
      UUSER = #{uuser,jdbcType=INTEGER},
      FK_REPO = #{fkRepo,jdbcType=INTEGER},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.jisy.docs.pojo.Doc">
    update doc
    set NAME = #{name,jdbcType=VARCHAR},
      CTIME = #{ctime,jdbcType=TIMESTAMP},
      UTIME = #{utime,jdbcType=TIMESTAMP},
      CUSER = #{cuser,jdbcType=INTEGER},
      UUSER = #{uuser,jdbcType=INTEGER},
      FK_REPO = #{fkRepo,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>